---
const { title, price, image } = Astro.props;
---
<div>
    <a href="/product">
      <img src={image} alt={title} />
    </a>
    <h3>{title}</h3>
    <p>{price} DKK</p>
  </div>

<style>

</style>