
<aside>
    <h2>Filters</h2>
    <details>
      <summary>Størrelse</summary>
      <!-- Sizes -->
    </details>
    <details>
      <summary>Style</summary>
      <!-- Styles -->
    </details>
    <details>
      <summary>Farve</summary>
      <!-- Colors -->
    </details>
    <details>
      <summary>Mønster</summary>
      <!-- Patterns -->
    </details>
  </aside>
