---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProductCard from '../components/productlist/ProductCard.astro';
import Sidebar from '../components/productlist/Sidebar.astro';

const products = [
  {
    title: 'Peter Sommer collab upcycled shirt',
    price: '649,00',
    image: '/public/images/test.jpg'
  },
  {
    title: 'Good decade white tee',
    price: '349,00',
    image: '/public/images/test.jpg'
  },
  {
    title: 'Light blue flowers upcycled shirt',
    price: '649,00',
    image: '/public/images/test.jpg'

  },
];
import ProductCard from '../components/productlists/ProductCard.astro';
import Sidebar from '../components/productlists/Sidebar.astro';
---

<Layout>
	<html>
  <head>
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body class="page-index">
    <Header />
    <main>
      <Sidebar />
      <section>
        {products.map(product => (
          <ProductCard {...product} />
        ))}
      </section>
    </main>
    <Footer />
  </body>
</html>
</Layout>
